.hero {
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  position: relative;
}
.hero_bg {
  background-image: url("/bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.t_cover {
  height: 628px;
  vertical-align: middle;
  max-width: 760px;
}
.hero_content {
  padding-top: 130px;
  padding-bottom: 42px;
  height: 100%;
  color: rgb(233, 79, 10);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 60px;
  padding-left: 20px !important;
}
.hero_title {
  font-size: 20px;
  font-weight: 900;
  padding-top: 100px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.hero_header {
  font-size: 72px;
  letter-spacing: 0.5px;
  line-height: 1.17;
  font-weight: 900;
}

/* hero bottom icon*/
.hero_buttom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_scroller {
  transition: all ease-in-out 0.2s;
  animation: arrowAnimation 1.7s infinite ease;
}

@keyframes arrowAnimation {
  0%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50%,
  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

/* footer */
.footer {
  margin-top: 120px;
  background-color: #000;
  height: 400px;
}
.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_content {
  display: grid;
  grid-template-columns: 200px repeat(auto-fill, minmax(147px, 1fr));
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  row-gap: 20px;
}

.footer_content > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.footer_content > div > a {
  color: #fff;
  text-decoration: none;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
}

.footer_one p {
  color: #fff;
  line-height: 17px;
  font-size: 14px;
  padding-top: 20px;
}

.footer_five {
  gap: 20px;
  justify-content: flex-start !important;
}

/* media queries */

@media only screen and (max-width: 1200px) {
  .hero {
    padding-bottom: 40px;
  }
  .t_cover {
    width: 960px;
  }
  .hero_header {
    font-size: 68px;
  }
  .container {
    max-width: 960px;
  }
  .footer_container{
    max-width: 960px;
  }
}

@media only screen and (max-width: 960px) {
  .hero_header {
    font-size: 50px;
    padding-right: 30%;
  }
  .hero {
    height: 100%;
  }
  .container {
    max-width: 640px;
  }

  /* footer --- 960px  */
  .footer_container{
    padding: 0 15px;
  }

}

@media only screen and (max-width: 640px) {
  .hero_bg {
    background-image: url("/small_bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
  }
  .footer_container{
    height: 100%;
    padding: 80px 15px;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer_one{
    width: 100%;
  }
  .footer_two, .footer_three, .footer_four, .footer_five{
    padding-top: 40px;
    width: 50%;
    gap: 20px;
  }
  .footer{
    height: 100%;
  }
  


}

@media only screen and (max-width: 480px) {
  .hero_bg {
    background-position: center top;
  }
  .t_cover {
    width: 100%;
    height: 93dvh;
    padding: 0 10px;
  }
  .container {
    max-width: 420px;
  }
  .hero_content {
    width: 325px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 0 !important;
    gap: 0;
  }
  .hero_title {
    font-size: 14px;
    line-height: 2;
  }
  .hero_header {
    font-size: 22px;
    line-height: 2;
    padding-right: 0;
  }
}

@media only screen and (max-width: 421px) {
  .footer{
    height: 100%;
  }
  .footer_container{
    padding: 80px 15px;
  }
  .footer_content{
    gap: 30px;
  }
  .footer_two, .footer_three, .footer_four, .footer_five{
    width: 100%;
    gap: 20px
    ;
  }
}
